@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




.bg-custom-image {
  background-image: url('/public/images/indir3.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}



